<br />
<div class="container-fluid">
    <div class="btn-group" role="group" aria-label="Command">
        <button type="button" (click)="onShutdown()" class="btn btn-danger btn-lg"><i
                class="fa fa-power-off"></i>&nbsp;Shutdown</button>
        <button type="button" (click)="onReboot()" class="btn btn-warning btn-lg"><i
                class="fa fa-refresh"></i>&nbsp;Reboot</button>
        <button type="button" (click)="onUpload()" class="btn btn-secondary btn-lg"><i
                class="fa fa-cloud-upload"></i>&nbsp;Upload
            DB</button>
    </div>
</div>